/*
 * Contents
 *
 * Headshot
 * Spacing Modifiers
 * List Styling
 * Alignment
 */

/*
 * Headshot
 *
 */
 #headshot {
	position: relative;
  overflow: hidden;
  border-radius: 50%;
  background-color: black;
  transform: rotate(25deg);
  border: 2px solid black;
  margin: 0 auto;
  width: 15rem;
 }

/*
 * Spacing Modifiers
 *
 */
 .spacer {
	margin: 2rem;
 }

/*
 * List Styling
 *
 */
 #post-list {
 	list-style-type: none;
 	padding-left: 0;
 }

 /*
 * Alignment
 *
 */
.right-align {
	float: right;
	/*clear: left;*/
}



