/*
 * Contents
 *
 * Headshot
 */

/*
 * Headshot
 *
 */
#headshot {
	position: relative;
  overflow: hidden;
  border-radius: 50%;
  background-color: black;
  transform: rotate(25deg);
  border: 2px solid black;
}
